<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bed_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,2}</string>
                <key>spriteSize</key>
                <string>{485,391}</string>
                <key>spriteSourceSize</key>
                <string>{539,439}</string>
                <key>textureRect</key>
                <string>{{1,1},{485,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bed_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,40}</string>
                <key>spriteSize</key>
                <string>{484,438}</string>
                <key>spriteSourceSize</key>
                <string>{538,518}</string>
                <key>textureRect</key>
                <string>{{1,394},{484,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bed_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{483,384}</string>
                <key>spriteSourceSize</key>
                <string>{483,438}</string>
                <key>textureRect</key>
                <string>{{1,1227},{483,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bed_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,2}</string>
                <key>spriteSize</key>
                <string>{484,391}</string>
                <key>spriteSourceSize</key>
                <string>{540,439}</string>
                <key>textureRect</key>
                <string>{{1,834},{484,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>111.png</string>
            <key>size</key>
            <string>{487,1612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f0ba660ad63ad2ca8d5fd5357302235:e5c7a02369fc7cfdc5fcce9324f91d5e:b1d7634429216a4fd5138097b0cb227e$</string>
            <key>textureFileName</key>
            <string>111.png</string>
        </dict>
    </dict>
</plist>
